.ama.breadcrumbs .breadcrumb li::before {
  content: unset !important;
}

.ama.breadcrumbs .breadcrumb li a {
  color: var(--ama-color-brand-primary);
  word-break: break-all;
}

.ama.breadcrumbs .breadcrumb li {
  font-family: var(--font-lato) !important;
  font-size: 1rem;
  word-break: break-all;
}

.ama.breadcrumbs .breadcrumb li.active {
  color: var(--ama-color-text-gray) !important;
}

.ama.breadcrumbs .breadcrumb li:not(:first-child) {
  background-image: url("../../../../public/img/chevron-right-dark.svg");
  background-size: .75rem;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  padding-left: 1rem;
  margin-left: 0.5rem;
}


/* Dark theme */
.ama.breadcrumbs.dark .breadcrumb li:not(:first-child) {
  background-image: url("../../../../public/img/chevron-right-light.svg");
}

.ama.breadcrumbs.dark .breadcrumb li,
.ama.breadcrumbs.dark .breadcrumb li a {
  color: var(--ama-color-text-blue) !important;
  text-decoration-color: var(--ama-color-text-blue) !important;
}