.ama.field label,
.ama.fieldUpload label {
  font-size: 1rem;
  color: var(--ama-color-text-gray);
  font-weight: 700;
}

.ama.field input,
.ama.fieldUpload input {
  height: 54px;
  border: 2px solid var(--ama-color-brand-primary) !important;
  background-color: var(--ama-color-background-white);
  margin: 8px 0 20px 0;
  min-width: 50px;
  color: var(--ama-color-text-gray);
  font-weight: 400;
  font-size: 1em;
  font-family: var(--font-lato);
  border-radius: 0px;
}

.ama.fieldUpload input {
  border-radius: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}


.ama.field input:focus,
.ama.fieldUpload input:focus {
  box-shadow: 0 0 0 3px var(--ama-color-yellow-300) !important;
}

.ama.field .form-control.is-invalid,
.ama.fieldUpload .form-control.is-invalid {
  border-color: var(--ama-color-red-500) !important;
}

.ama.field .invalid-feedback,
.ama.fieldUpload .invalid-feedback {
  color: var(--ama-color-red-500);
  font-size: 1em;
  font-weight: 700;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}

.ama input[type="file"].form-control::file-selector-button {
  background-color: var(--ama-color-brand-primary);
  border-radius: 25px;
  color: var(--ama-color-background-white);
  border: 0 solid;
  border-color: var(--ama-color-brand-primary);
  padding: 0px 10px;
  margin-left: -16px;
  height: 50px;
}

.ama button.show_pass {
  gap: 0px !important;
}

.ama button.show_pass:not(:focus) {
  border: 0px;
}

.ama button.show_pass:hover {
  background-color: var(--ama-color-brand-primary);
  color: var(--ama-color-background-white);
}


/* Dark Theme */
.ama.field.dark label,
.ama.fieldUpload.dark label,
.ama.fieldUpload.dark input::placeholder {
  color: var(--ama-color-text-blue);
}

.ama.field.dark input,
.ama.fieldUpload.dark input {
  border-color: var(--ama-color-text-blue) !important;
  background-color: transparent !important;
  color: var(--ama-color-text-blue) !important;
}

.ama.field.dark input::placeholder,
.ama.fieldUpload.dark input::placeholder {
  color: var(--ama-color-text-blue)
}

.ama.field.dark button.show_pass i {
  color: var(--ama-color-text-blue);
}

.ama.field.dark button.show_pass:hover i {
  color: var(--ama-color-text-gray);
}

.ama.field.dark button:focus {
  border: 3px solid var(--ama-color-yellow-400) !important;
}