.ama.field label {
  font-size: 1rem;
  color: var(--ama-color-text-gray);
  font-weight: bold;
}

.ama.field textarea {
  height: 100px;
  border: 2px solid var(--ama-color-brand-primary) !important;
  background-color: var(--ama-color-background-white);
  margin: 8px 0 20px 0;
  min-width: 50px;
  padding: 10px 16px;
  color: var(--ama-color-text-gray);
  font-weight: 400;
  font-size: 1em;
  font-family: var(--font-lato);

  border-radius: 0;
}

.ama.field textarea:focus {
  /* REVER o Boxshadow */
  box-shadow: 0 0 0 3px var(--ama-color-yellow-300) !important;
}

.ama.field .form-control.is-invalid {
  border-color: var(--ama-color-red-500) !important;
}

.ama.field .invalid-feedback {
  color: var(--ama-color-red-500);
}


/* Dark Theme */
.ama.field.dark label,
.ama.field.dark textarea::placeholder {
  color: var(--ama-color-text-blue);
}

.ama.field.dark textarea {
  border-color: var(--ama-color-text-blue) !important;
  background-color: transparent;
  color: var(--ama-color-text-blue) !important;
}

.ama.field.dark textarea::placeholder {
  color: var(--ama-color-text-blue)
}