.spacing_container {
    background-color: var(--ama-color-text-blue);
    min-width: 100px !important;
    min-height: 40px !important;
    border-radius: 5px;
    position: static;
    box-sizing: border-box;
    display: block;
    margin-top: 0 !important;
}

.spacing_inner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ama-color-brand-primary);
    color: var(--ama-color-background-white) !important;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
}

.border-top {
    border-top: 1px solid var(--ama-color-text-blue);
}

.border-bot {
    border-bottom: 1px solid var(--ama-color-text-blue);
}

.border-right {
    border-right: 1px solid var(--ama-color-text-blue);
}

.border-left {
    border-left: 1px solid var(--ama-color-text-blue);
}