.ama.field-search input {
  height: 42px;
  border: 2px solid var(--ama-color-brand-primary) !important;
  background-color: var(--ama-color-background-white);
  margin: 8px 0 8px 0;
  min-width: 50px;
  padding: 0px 16px;
  color: var(--ama-color-text-gray);
  font-weight: 400;
  font-size: 1em;
  font-family: var(--font-lato);

  border-radius: 0 !important;

  border-right: 0px !important;
}

.ama.field-search input:focus {
  box-shadow: 0 0 0 3px var(--ama-color-yellow-300) !important;
}

.ama.field-search button {
  height: 42px;
}

.ama.input-group {
  align-items: center;
}

.ama.field-search button {
  border-radius: 0px;
  border: 2px solid var(--ama-color-brand-primary);
}

.ama.field-search button i {
  color: var(--ama-color-brand-primary);
}

.ama.field-search button:hover {
  background-color: transparent;
}

.ama.field-search button:focus,
.ama.field-search button:focus-visible {
  box-shadow: 0 0 0 3px var(--ama-color-yellow-300) !important;
  background-color: transparent;
}

/* Dark Theme */
.ama.field-search.dark input {
  border-color: var(--ama-color-text-blue)
}

.ama.field-search.dark button {
  border-color: var(--ama-color-text-blue)
}

.ama.field-search.dark button i {
  color: var(--ama-color-text-blue);
}